JWT_SECRET="your_super_secret_jwt_key"
PORT=3001


DATABASE_URL="your database url "

// we use ccloudinary to store images and videos for our app. You can create a free account at https://cloudinary.com/ and get your own credentials.
// replace the values below with your own credentials
// CLOUDINARY_NAME=your_cloudinary_name
// CLOUDINARY_KEY=your_cloudinary_key
// CLOUDINARY_SECRET=your_cloudinary_secret
